body {
  margin: 0;
  font-family: sans-serif;
  background: white;
}

.app {
  padding: 10px;
}

#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.member-bar {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  margin-bottom: 10px;
}

.member {
  white-space: nowrap;
  cursor: pointer;
}

#pocaGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.poca {
  width: 100%;
  aspect-ratio: 55 / 85;
  object-fit: cover;
  border-radius: 12px;
  filter: brightness(0.4);
  transition: 0.25s;
}

.poca.owned {
  filter: brightness(1);
}

#addBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  font-size: 28px;
  background: #ffb6c1;
  color: white;
}

/* 액션 모달 */
.action-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.action-box {
  background: white;
  width: 220px;
  border-radius: 12px;
  overflow: hidden;
}

.action-box button {
  width: 100%;
  padding: 14px;
  border: none;
  background: none;
  font-size: 16px;
}

#deleteBtn {
  color: red;
  font-weight: bold;
}